<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ORF FORM</title>
</head>
<body>
<h2>Response Entered by you:</h2>
<form method="post">

            <ul>
            <li>Field Name: <strong>{{ field_names }}</strong></li>

            <li>Customer Name: <strong>{{ customer_name }}</strong></li>

            <li>Customer Address: <strong>{{ customer_address }}</strong></li>

            <li>Site Address: <strong>{{ site_address }}</strong></li>

            <li>ORF No: <strong>{{ orf_no }}</strong></li>

            <li>Date: <strong>{{ date }}</strong></li>

            <li>Work Order No: <strong>{{ work_order_no }}</strong></li>

            <li>Work Order Date: <strong>{{ work_order_date }}</strong></li>

            <li>Quotation Ref. No: <strong>{{ quotation_ref_no }}</strong></li>

            <li>Quotation Date: <strong>{{ quotation_date }}</strong></li>

            <li>Project Title: <strong>{{ project_title }}</strong></li>

            <li>Job/Scope Details: <strong>{{ job_details }}</strong></li>

            <li>Project Order Value: <strong>{{ project_order_value }}</strong></li>

            <li>Payment Terms: <strong>{{ payment_terms }}</strong></li>

            <li>Job Duration(Days): <strong>{{ job_duration }}</strong></li>

            <li>Job Starting Date: <strong>{{ job_starting_date }}</strong></li>

            <li>Job Completion Date: <strong>{{ job_completion_date }}</strong></li>

            <li>Expected Pre-Commissioning Date: <strong>{{ expected_precom_date }}</strong></li>

            <li>Expected Commissioning Date: <strong>{{ expected_com_date }}</strong></li>

            <li>Handover Date(Expected): <strong>{{ handover_date_exp }}</strong></li>

            <li>Handover Date(Actual): <strong>{{ handover_date_act }}</strong></li>

            <li>Name of Project In-Charge: <strong>{{ name_of_project_incharge }}</strong></li>

            <li>Name of Site In-Charge: <strong>{{ name_of_site_incharge }}</strong></li>

            <li>Advance Payment: <strong>{{ advance_payment }}</strong></li>

            <li>Particulars: <strong>{{ particulars }}</strong></li>

            <li>Budgeted Amount: <strong>{{ budgeted_amount }}</strong></li>

            <li>Actual Amount: <strong>{{ actual_amount }}</strong></li>

            <li>Variance: <strong>{{ variance }}</strong></li>

            <li>Remarks: <strong>{{ remarks }}</strong></li>

            <li>Notes: <strong>{{ notes }}</strong></li>

            <li>Total Cost: <strong>{{ total_cost }}</strong></li>

            <li>Amount To Be Paid In Cash: <strong>{{ amount_to_be_paid_cash }}</strong></li>

            <li>Amount To Be Paid In Cheque: <strong>{{ amount_to_be_paid_cheque }}</strong></li>

            </ul>
</form>
</body>
</html>

